[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Vendor/Walnut"]
	path = Vendor/Walnut
	url = https://github.com/4rtemTrickster/Walnut-for-NeoTorrentClient.git
[submodule "Vendor/ImGuiFileDialog-For-NeoTorrentClient"]
	path = Vendor/ImGuiFileDialog-For-NeoTorrentClient
	url = https://github.com/4rtemTrickster/ImGuiFileDialog-For-NeoTorrentClient
